setuptools==47.3.1
biopython==1.77
certifi==2020.4.5.1
cycler==0.10.0
eutils==0.2.2
future==0.18.2
lxml==4.5.1
mahotas==1.4.9
matplotlib==3.2.1
numpy==1.18.4
Pillow==6.2.1
pyparsing==2.4.7
pypng==0.0.20
pytesseract==0.3.4
python-dateutil==2.8.1
python-telegram-bot==12.2.0
pytz==2019.3
requests==2.24.0
six==1.13.0
urllib3==1.26.5
beautifulsoup4==4.8.1
cffi==1.13.2
cryptography==2.8
enum34==1.1.6
idna==2.8
ipaddress==1.0.23
ndg-httpsclient==0.5.1
pyasn1==0.4.8
pycparser==2.19
pyOpenSSL==19.1.0
six==1.13.0
mygene==3.1.0
